{
    "tag": "freedom",
    "type": "direct"
},
{
    "tag": "direct",
    "type": "direct"
},
{
    "tag": "WARP",
    "type": "direct",
    "bind_interface": "warp"
},
{
    "type": "block",
    "tag": "block"
},
