flask==2.1.3
flask-admin==1.6.0
# flask-simplelogin
bootstrap-flask==2.2.0
flask_sqlalchemy==2.5.1
sqlalchemy==1.4.46
flask_adminlte3
sqlalchemy-serializer
dynaconf~=3.2.3
click==8.1.3
flask-restful
sqlalchemy_utils
xtlsapi==3.1.2
python-dateutil~=2.8.2
flask-babelex
babel~=2.12.1
StrEnum~=0.4.15
python-dotenv~=1.0.0
flask_classful
werkzeug==2.1.2
flask_babel
gunicorn==20.1.0
# pyxtermjs
user_agents
flask_wtf
pyyaml~=6.0.1
telebot~=0.0.5
pyuwsgi
cython
cloudflare~=2.11.7
maxminddb~=2.4.0
lastversion
psutil~=5.9.5
h2~=4.1.0
ping3
ansi2html
netifaces~=0.11.0
markupsafe
redis~=5.0.0
#python-redis-cache @ git+https://github.com/taylorhakes/python-redis-cache@v2.2.0
python-redis-cache
cryptography>=41.0.0
paramiko
pymysql
setuptools~=65.5.1
WTForms~=3.0.1
requests~=2.31.0