flask==2.1.3
flask-admin==1.6.0
# flask-simplelogin
bootstrap-flask==2.2.0
flask_sqlalchemy==2.5.1
sqlalchemy==1.4.46
flask_adminlte3
sqlalchemy-serializer
dynaconf
click==8.1.3
flask-restful
sqlalchemy_utils
xtlsapi==3.1.2
python-dateutil
flask-babelex
babel
StrEnum
python-dotenv
flask_classful
werkzeug==2.1.2
flask_babel
gunicorn==20.1.0
# pyxtermjs
user_agents
flask_wtf
pyyaml
telebot
pyuwsgi
cython
cloudflare
maxminddb
lastversion
psutil
h2
ping3
ansi2html
netifaces
markupsafe