[
  {% block proxy_group %}
  {% include 'xray/client/proxies_group' %}
  {% endblock %}
  ,
  {% block base_config %}
  {% if ctx.user.is_active %}
    {% set tag %}{%- include 'xray/client/tag' -%}{% endset %}
    {
      "remarks": "{{ tag | trim_no_line }}",
      "outbounds": [
        {% block outbounds %}{% endblock %},
        {% include 'xray/client/fragment' %}
        {"tag": "direct", "protocol": "freedom", "settings": {}},
        {"tag": "block", "protocol": "blackhole", "settings": {"response": {"type": "http"}}}
      ],
      "log": {
        "access": "",
        "error": "",
        "loglevel": "warning"
      },
      {#
      "inbounds": [
        {% include 'xray/client/inbounds' %}
      ]
      #}
    },
    {% endif %}
  {% endblock %}
]
