{% if ctx.hconfig.tls_fragment_enable %}
{
  "tag": "fragment",
  "protocol": "freedom",
  "settings": {
    "fragment": {
      "packets": "{{ ctx.hconfig.tls_fragment_packets or 'tlshello' }}",
      "length": "{{ ctx.hconfig.tls_fragment_length or '100-200' }}",
      "interval": "{{ ctx.hconfig.tls_fragment_interval or '10-20' }}"
    }
  },
  "streamSettings": {
    "sockopt": {
      "tcpKeepAliveIdle": 100,
      "tcpNoDelay": true
    }
  }
},
{% endif %}
