{
  {% include 'hiddify-core/server/base/log' %},
  "inbounds": [
    {% include 'hiddify-core/server/base/builtin_inbounds' %},
    {% block inbounds %}{% endblock %}
  ],
  "outbounds": [
    {% include 'hiddify-core/server/base/outbounds' %},
  ],
  {% include 'hiddify-core/server/base/route' %},
  {% include 'hiddify-core/server/base/experimental' %},
  {% include 'hiddify-core/server/base/dns' %},
}
