در این بخش کلیه کانفیگ ها قرار گرفته است. کافی است کانفیگ مورد نظر خورد را انتخاب و
استفاده کنید.

<!-- <div class="btn-group">
                            <a href="/{{hconfigs[ConfigEnum.proxy_path]}}/gh/hiddify/HiddifyProxyAndroid/releases/download/v0.6/hiddify-2.5.13-pre04-h0.6-meta/alpha-universal-release.apk"
                                class="orig-link"><img src="images/android-apk-badge.png" /></a>
                        </div> -->


<details>
    <summary>نرم افزار های پیشنهادی</summary>
    <details>
        <summary>اندروید</summary>
        <div class="btn-group">
            <a href="/{{hconfigs[ConfigEnum.proxy_path]}}/gh/hiddify/HiddifyProxyAndroid/releases/download/v0.7/hiddify-2.5.13-pre04-h0.7-meta-alpha-universal-release.apk"
                class="btn btn-primary orig-link">دانلود نرم افزار HiddifyProxy</a>
        </div>

        <div class="btn-group">
            <a href="https://play.google.com/store/apps/details?id=moe.matsuri.lite"
                class="btn btn-primary orig-link">نرم افزار Matsuri از گوگل پلی</a>
        </div>

        <div class="btn-group">
            <a href="/{{hconfigs[ConfigEnum.proxy_path]}}/gh/MatsuriDayo/Matsuri/releases/"
                class="btn btn-primary orig-link">نرم
                افزار Matsuri مستقیم</a>
        </div>
        <div class="btn-group">
            <a href="https://play.google.com/store/apps/details?id=com.v2ray.ang" class="btn btn-primary orig-link">نرم
                افزار v2rayng از گوگل پلی</a>
        </div>

        <div class="btn-group">
            <a href="/{{hconfigs[ConfigEnum.proxy_path]}}/gh/2dust/v2rayNG/releases/"
                class="btn btn-primary orig-link">نرم
                افزار v2rayng مستقیم</a>
        </div>

        <div class="btn-group">
            <a href="https://play.google.com/store/apps/details?id=io.nekohasekai.sagernet"
                class="btn btn-primary orig-link">نرم افزار sagernet از گوگل پلی</a>
        </div>

        <div class="btn-group">
            <a href="/{{hconfigs[ConfigEnum.proxy_path]}}/gh/SagerNet/SagerNet/releases/"
                class="btn btn-primary orig-link">نرم
                افزار sagernet مستقیم</a>
        </div>
    </details>
</details>

<!-- 
                        ابتدا نرم افزار SagerNet را از طریق یکی از لینک‌های زیر دانلود کنید.
                        <br>
                        <div class="btn-group">
                        <a href="https://play.google.com/store/apps/details?id=io.nekohasekai.sagernet" class="orig-link"><img
                                src="images/google-play-badge.png" /></a>
                                </div>
                                <div class="btn-group">
                        <a href="/{{hconfigs[ConfigEnum.proxy_path]}}/gh/SagerNet/SagerNet/releases/download/0.8.1-rc03/SN-0.8.1-rc03-arm64-v8a.apk" class="orig-link"><img
                                src="images/android-apk-badge.png" /></a>
                            </div>

                        <br> -->
سپس روی یکی از دکمه‌های زیر (به دلخواه) کلیک کنید تا لینک با اپ هایدیفای باز شود. سپس در
نرم افزار HiddifyProxy با زدن روی دکمه YES درخواست وارد کردن لینک را تایید کنید.
<br />
<!-- <h5>همه در یک فایل</h5>
<div class="btn-group">
    <a href="clashmeta://install-config?url=https://{{domain}}/{{hconfigs[ConfigEnum.proxy_path]}}/{{user.uuid}}/clash/meta/all.yml&name=meta_normal_{{domain}}"
        class="btn btn-primary orig-link">فایل هایدیفای پروکسی</a>
</div>
<div class="btn-group">
    <a href="clash://install-config?url=https://{{domain}}/{{hconfigs[ConfigEnum.proxy_path]}}/{{user.uuid}}/clash/all.yml&name=new_normal_{{domain}}"
        class="btn btn-primary orig-link">فایل کلش</a>
</div>
<div class="btn-group">
    <a href="https://{{domain}}/{{hconfigs[ConfigEnum.proxy_path]}}/{{user.uuid}}/all.txt?name=new_link_{{domain}}"
        class="btn btn-primary orig-link">همه تنظیمات به صورتی لینکی</a>
</div> -->


<table id="all-links" class="table table-bordered table-striped">
    <thead>
    <tr>
      <th>نام و لینک</th>
      <th>نوع</th>
      <th>پروتوکل</th>
      <th>ترانسپرت</th>     
      <th>امنیت</th>     
    </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <div class="btn-group">
                    <a href="clashmeta://install-config?url=https://{{domain}}/{{hconfigs[ConfigEnum.proxy_path]}}/{{user.uuid}}/clash/meta/all.yml&name=meta_normal_{{domain}}"
        class="btn btn-primary orig-link"> همه تنظیمات در هایدیفای پروکسی</a>
                </div>
            </td>
            <td><span class="badge badge-danger">همه</span></td>
            <td><span class="badge badge-info">همه</span></td>
            <td><span class="badge badge-warning">همه</span></td>     
            <td><span class="badge badge-success">همه</span></td>     
          </tr>
          <tr>
            <td>
                <div class="btn-group">
                    <a href="clash://install-config?url=https://{{domain}}/{{hconfigs[ConfigEnum.proxy_path]}}/{{user.uuid}}/clash/all.yml&name=new_normal_{{domain}}"
        class="btn btn-primary orig-link"> همه کانفیگ ها در کلش</a>
                </div>
            </td>
            <td><span class="badge badge-danger">همه</span></td>
            <td><span class="badge badge-info">جز vless</span></td>
            <td><span class="badge badge-warning">همه</span></td>     
            <td><span class="badge badge-success">همه</span></td>     
          </tr>
        <tr>
            <td>
                <div class="btn-group">
                    <a href="https://{{domain}}/{{hconfigs[ConfigEnum.proxy_path]}}/{{user.uuid}}/all.txt?name=new_link_{{domain}}"
                        class="btn btn-primary orig-link"> همه کانفیگ ها به صورت لینکی</a>
                </div>
            </td>
            <td><span class="badge badge-danger">همه</span></td>
            <td><span class="badge badge-info">همه</span></td>
            <td><span class="badge badge-warning">همه</span></td>     
            <td><span class="badge badge-success">همه</span></td>     
          </tr>

        % for type in link_maker.all_proxies()
        {% set pinfo=link_maker.proxy_info(type) %}
        <tr>
            <td>
                <div class="btn-group">
                    <a href='{{pinfo["url"]}}' class="btn btn-primary orig-link">{{type}}</a>
                </div>
            </td>
            <td><span class="badge badge-danger">{{pinfo["mode"]}}</span></td>
            <td><span class="badge badge-info">{{pinfo["proto"]}}</span></td>
            <td><span class="badge badge-warning">{{pinfo['transport']}}</span></td>     
            <td><span class="badge badge-success">{{pinfo['security']}}</span></td>     
          </tr>
          % endfor
        </tbody>
        </table>



