ابتدا نرم افزار HiddifyProxy را
<div class="btn-group">
    <a href="/{{hconfigs[ConfigEnum.proxy_path]}}/gh/hiddify/HiddifyProxyAndroid/releases/download/v0.8/hiddify-2.6.1-h0.8-meta-alpha-universal-release.apk"
        class="btn btn-primary orig-link">دانلود</a>
</div>
یا از
<div class="btn-group">
    <a href="/{{hconfigs[ConfigEnum.proxy_path]}}/gh/hiddify/HiddifyProxyAndroid/releases/download/v0.8/hiddify-2.6.1-h0.8-meta-alpha-universal-release.apk"
        class="btn btn-primary orig-link">گوگل پلی</a>
</div> نصب کنید

<div class="callout callout-danger">
    <b> مهم: نرم افزار هایدیفای پروکسی را به نسخه 0.8 آپدیت کنید</b>
</div>

<div class="card card-info">
    <div class="card-header">
        آیا هایدیفای پروکسی امن هست؟
    </div>
    <div class="card-body">
        هایدیفای پروکسی، یک نسخه پیشرفته کلش هست که پروتکل‌های بیشتر را پیشتبانی میکنه.
        <br>
        این نرم افزار کاملا امن و کدباز هست و کلیه کدهای آن در
        <a href="https://github.com/hiddify/HiddifyProxyAndroid">گیت هاب</a>
        وجود دارد.
        <br>
        خیالتون راحت باشه پس 🙃

        <details>
            <summary>نرم افزار جایگزین: کلش اندروید عادی</summary>
            <div class="btn-group">
                <a href="https://play.google.com/store/apps/details?id=com.github.kr328.clash"
                    class="btn btn-warning orig-link">دانلود کلش از گوگل پلی</a>
            </div>
            <div class="btn-group">
                <a href="/{{hconfigs[ConfigEnum.proxy_path]}}/gh/Kr328/ClashForAndroid/releases/download/v2.5.12/cfa-2.5.12-premium-universal-release.apk"
                    class="btn btn-warning orig-link">دانلود مستقیم کلش</a>
            </div>

            <div class="alert alert-danger">
                توجه کنید کلش اندروید پروتکل vless را ساپورت نمیکنه.

                <br>
                بنابراین لینک های آن متفاوت است.
            </div>
            <!--                                             <div class="btn-group">
                                <a href="clash://install-config?url=https://{{domain}}/{{hconfigs[ConfigEnum.proxy_path]}}/{{user.uuid}}/clash/normal/lite.yml&name=lite_{{domain}}"
                                    class="btn btn-primary orig-link">نصب فقط برای سایت‌های فیلتر</a>
                            </div>
                                    <br>
                            <div class="btn-group">
                                <a href="clash://install-config?url=https://{{domain}}/{{hconfigs[ConfigEnum.proxy_path]}}/{{user.uuid}}/clash/normal/normal.yml&name=normal_{{domain}}"
                                    class="btn btn-primary orig-link">نصب گذرنده برای سایت‌های خارجی</a>
                            </div>
                                    
                            <br>
                                <div class="btn-group">
                                <a href="clash://install-config?url=https://{{domain}}/{{hconfigs[ConfigEnum.proxy_path]}}/{{user.uuid}}/clash/all.yml&name=all_{{domain}}"
                                    class="btn btn-primary orig-link">نصب گذرنده برای همه سایت‌ها</a>
                            </div> -->




        </details>
    </div>
</div>

<!--                                         

                        با استفاده از یکی از دو لینک زیر، اپلیکیشن کلش Clash را دانلود و نصب کنید. 
                        
                        <br>
                         -->


<h2>لینک تنظیمات:</h2>
حالا با توجه به نیازتان روی یکی از دکمه‌ها کلیک کنید:

<div class="card-deck">

    <div class="card card-success">
        <div class="card-header">
            گذرنده فقط برای سایت‌های فیلتر شده
        </div>
        <div class="card-body">
            اگر فقط قصد دسترسی به سایت‌های فیلتر شده را دارید، از این لینک استفاده کنید.
            <div class="callout callout-success">
                در این حالت عملا هیچ افت سرعتی نخواهید داشت.
            </div>
            <div class="btn-group">
                <a href="clashmeta://install-config?url=https://{{domain}}/{{hconfigs[ConfigEnum.proxy_path]}}/{{user.uuid}}/clash/meta/lite.yml&name=mlite_{{domain}}"
                    class="btn btn-success orig-link">نصب فقط برای سایت‌های فیلتر</a>
            </div>
            <details>
                <summary>لینک جایگزین برای کلش عادی</summary>
                <div class="btn-group">
                    <a href="clash://install-config?url=https://{{domain}}/{{hconfigs[ConfigEnum.proxy_path]}}/{{user.uuid}}/clash/lite.yml&name=lite_{{domain}}"
                        class="btn btn-secondary orig-link">لینک برای کلش اندروید</a>
                </div>
            </details>
        </div>
    </div>

    <div class="card card-warning">
        <div class="card-header">
            گذرنده فقط برای سایت‌های خارجی
        </div>
        <div class="card-body">

            اگر فقط قصد دسترسی به سایت‌های خارجی را دارید، از این لینک استفاده کنید.
            <div class="callout callout-warning">
                این حالت برای گذر از برخی از تحریم‌های سایت‌های خارجی مفید است.
            </div>


            <div class="btn-group">
                <a href="clashmeta://install-config?url=https://{{domain}}/{{hconfigs[ConfigEnum.proxy_path]}}/{{user.uuid}}/clash/meta/normal.yml&name=mnormal_{{domain}}"
                    class="btn btn-warning orig-link">نصب گذرنده برای سایت‌های خارجی</a>
            </div>
            <details>
                <summary>لینک جایگزین برای کلش عادی</summary>
                <div class="btn-group">
                    <a href="clash://install-config?url=https://{{domain}}/{{hconfigs[ConfigEnum.proxy_path]}}/{{user.uuid}}/clash/normal.yml&name=normal_{{domain}}"
                        class="btn btn-secondary orig-link">لینک برای کلش اندروید</a>
                </div>
            </details>
        </div>
    </div>

    % if not hconfigs[ConfigEnum.block_iran_sites]:

    <div class="card card-danger">
        <div class="card-header">
            گذرنده همه سایت‌ها
        </div>
        <div class="card-body">

            اگر می‌خواهید برای همه سایت‌ها (چه فیلتر شده و چه غیر فیلتر) از پروکسی
            استفاده
            کنید.
            <div class="callout callout-danger">
                در این حالت سرعت سایت‌های داخلی شدیدا کاهش پیدا می‌کند.
            </div>

            <div class="btn-group">
                <a href="clashmeta://install-config?url=https://{{domain}}/{{hconfigs[ConfigEnum.proxy_path]}}/{{user.uuid}}/clash/meta/all.yml&name=mall_{{domain}}"
                    class="btn btn-danger orig-link">نصب گذرنده برای همه سایت‌ها</a>
            </div>
            <details>
                <summary>لینک جایگزین برای کلش عادی</summary>
                <div class="btn-group">
                    <a href="clash://install-config?url=https://{{domain}}/{{hconfigs[ConfigEnum.proxy_path]}}/{{user.uuid}}/clash/all.yml&name=all_{{domain}}"
                        class="btn btn-secondary orig-link">لینک برای کلش اندروید</a>
                </div>
            </details>
        </div>

    </div>
        % endif
    
</div>

<!--
                        ابندا یکی از لینک تنظیمات کلش را کپی کنید و در بخش 2 مرحله 4 قرار دهید و مراحل را مطابق
                        گیف
                        زیر انجام دهید


                         <figure class="figure d-block text-center p-3">
                            <img src="images/clash_android.gif" alt="How to use clash for Android"
                                class="figure-img img-fluid rounded" />
                            <figcaption class="figure-caption">
                                <p>How to use clash for Android</p>
                            </figcaption>
                        </figure> -->