کافی است در مرورگر خود عبارت زیر را وارد کنید:

<pre dir="ltr" style="text-align: left; font: arial">
https://{{domain}}/{{hconfigs[ConfigEnum.proxy_path]}}/dns/dns-query
            </pre>
<div dir="ltr" style="text-align: left;">
    <h4>Configure DoH on your browser</h4>
    There are several browsers compatible with DNS over HTTPS (DoH). This protocol lets
    you
    encrypt
    your connection to 1.1.1.1 in order to protect your DNS queries from privacy
    intrusions
    and
    tampering.

    Some browsers might already have this setting enabled.

    <h5>​​Mozilla Firefox</h5>
    Select the menu button > Settings.
    In the General menu, scroll down to access Network Settings.
    Select Settings.
    Select Enable DNS over HTTPS. By default, it resolves to Cloudflare DNS.
    ​<h5>​Google Chrome</h5>
    Select the three-dot menu in your browser > Settings.
    Select Privacy and security > Security.
    Scroll down and enable Use secure DNS.
    Select the With option, and from the drop-down menu choose Cloudflare (1.1.1.1).
    <h5>​​Microsoft Edge</h5>
    Select the three-dot menu in your browser > Settings.
    Select Privacy, Search, and Services, and scroll down to Security.
    Enable Use secure DNS.
    Select Choose a service provider.
    Select the Enter custom provider drop-down menu and choose Cloudflare (1.1.1.1).
    ​<h5>​Brave</h5>
    Select the menu button in your browser > Settings.
    Select Security and Privacy > Security.
    Enable Use secure DNS.
    Select With Custom and choose Cloudflare (1.1.1.1) as a service provider from the
    drop-down
    menu.
</div>