<div class="col">
    <div class="card card-info collapsed-card card-outline">
      <div class="card-header">
        <h3 class="card-title" data-widget="collapse">
            پیشنهادی: نرم افزار stash (پولی) 
        </h3>

        <div class="card-tools">
          <button type="button" class="btn btn-tool" data-widget="collapse"><i class="fa fa-plus"></i>
          </button>
        </div>
        <!-- /.card-tools -->
      </div>
      <!-- /.card-header -->
      <div class="card-body">
        نرم افزار stash یک نرم افزار فوق العادس. به نظر ما حتما ارزش خرید داره.
        <div class="btn-group">
        <a href="https://apps.ap0ple.com/us/app/stash-rule-based-proxy/id1596063349" target="_blank" class="btn btn-success orig-link">دانلود stash از اپ استور</a>
        </div>
      </div>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->
  </div>
  <!-- /.col -->


  <div class="col">
    <div class="card card-info collapsed-card card-outline">
      <div class="card-header">
        <h3 class="card-title" data-widget="collapse">
            نرم افزار shadowlink
        </h3>

        <div class="card-tools">
          <button type="button" class="btn btn-tool" data-widget="collapse"><i class="fa fa-plus"></i>
          </button>
        </div>
        <!-- /.card-tools -->
      </div>
      <!-- /.card-header -->
      <div class="card-body">
        ابتدا :
        <div class="btn-group">
            <a href="https://apps.apple.com/us/app/shadowlink-shadowsocks-vpn/id1439686518"
                class="btn btn-primary orig-link"> برنامه shadow link</a> 
        </div>
        را نصب کنید
        <br>
        سپس کانفیگ مورد نظر را انتخاب و اجرا نمایید.
        <br>
        

        <div class="btn-group">
            <a href='vless://{{user.uuid}}@{{domain}}:443?security=tls&alpn=h2&sni={{domain}}&type=ws&path=/{{hconfigs[ConfigEnum.proxy_path]}}/vlessws#CDNvless_ws_{{domain}}'
                class="btn btn-primary orig-link"> CDN vless+ws</a>
        </div>
        <div class="btn-group">
            <a href='trojan://{{user.uuid}}@{{domain}}:443?security=tls&alpn=h2&sni={{domain}}&type=ws&path=/{{hconfigs[ConfigEnum.proxy_path]}}/trojanws#CDNtrojan_ws_{{domain}}'
                class="btn btn-primary orig-link"> CDN trojan+ws</a>
        </div>
        <div class="btn-group">
            <a href='vless://{{user.uuid}}@{{direct_host}}:443?flow=xtls-rprx-direct&security=xtls&alpn=h2&sni={{domain}}&type=tcp#vless+xtls_{{domain}}'
                class="btn btn-primary orig-link"> vless+xtls</a>
        </div>
        <div class="btn-group">
            <a href='vless://{{user.uuid}}@{{direct_host}}:443?security=tls&alpn=h2&sni={{domain}}&type=grpc&serviceName={{hconfigs[ConfigEnum.proxy_path]}}-vlgrpc&mode=multi#vless-grpc_{{domain}}'
                class="btn btn-primary orig-link"> vless+grpc</a>
        </div>
        <div class="btn-group">
            <a href='trojan://{{user.uuid}}@{{direct_host}}:443?security=tls&alpn=h2&sni={{domain}}&type=grpc&serviceName={{hconfigs[ConfigEnum.proxy_path]}}-trgrpc&mode=multi#trojan-grpc_{{domain}}'
                class="btn btn-primary orig-link"> trojan+grpc</a>
        </div>
        % if hconfigs[ConfigEnum.vmess_enable]:
        <div class="btn-group">
            <a href='vmess://{"v":"2", "ps":"CDNvmess_ws_{{domain}}", "add":"{{domain}}", "port":"443", "id":"{{user.uuid}}", "aid":"0", "scy":"auto", "net":"ws", "type":"none", "host":"", "path":"/{{hconfigs[ConfigEnum.proxy_path]}}/vmessws", "tls":"tls", "sni":"{{domain}}"}'
                class="btn btn-primary orig-link"> CDN vmess+ws</a>
        </div>
        % endif



        <figure class="figure d-block text-center p-3">
            <img src="images/ios_shadow.gif" alt="How to use v2 ray for iOS"
                class="figure-img img-fluid rounded" />
            <figcaption class="figure-caption">
                <p>How to use clash for iOS</p>
            </figcaption>
        </figure>


    
      </div>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->
  </div>
  <!-- /.col -->


  <div class="col">
    <div class="card card-info collapsed-card card-outline">
      <div class="card-header">
        <h3 class="card-title" data-widget="collapse">
            نرم افزار napsternetv و fair vpn
        </h3>

        <div class="card-tools">
          <button type="button" class="btn btn-tool" data-widget="collapse"><i class="fa fa-plus"></i>
          </button>
        </div>
        <!-- /.card-tools -->
      </div>
      <!-- /.card-header -->
      <div class="card-body">
        ابتدا 
        
        <div class="btn-group">
            <a href="https://apps.apple.com/us/app/napsternetv/id1629465476"
                class="btn btn-primary orig-link"> برنامه  napsternetv</a>

        </div>
        یا 
        <div class="btn-group">
            <a href="https://apps.apple.com/us/app/fair-vpn/id1533873488"
                class="btn btn-primary orig-link"> برنامه  fair-vpn</a>

        </div>
        را نصب کنید
        <br />
        سپس کانفیگ مورد نظر خود را اعمال کنید:
        <br />
        <div class="btn-group">
            <a href='vless://{{user.uuid}}@{{domain}}:443?security=tls&alpn=h2&sni={{domain}}&type=ws&path=/{{hconfigs[ConfigEnum.proxy_path]}}/vlessws#CDNvless_ws_{{domain}}'
                class="btn btn-primary orig-link"> CDN vless+ws</a>
        </div>
        <div class="btn-group">
            <a href='trojan://{{user.uuid}}@{{domain}}:443?security=tls&alpn=h2&sni={{domain}}&type=ws&path=/{{hconfigs[ConfigEnum.proxy_path]}}/trojanws#CDNtrojan_ws_{{domain}}'
                class="btn btn-primary orig-link"> CDN trojan+ws</a>
        </div>
        <div class="btn-group">
            <a href='vless://{{user.uuid}}@{{direct_host}}:443?flow=xtls-rprx-direct&security=xtls&alpn=h2&sni={{domain}}&type=tcp#vless+xtls_{{domain}}'
                class="btn btn-primary orig-link"> vless+xtls</a>
        </div>
        <div class="btn-group">
            <a href='vless://{{user.uuid}}@{{direct_host}}:443?security=tls&alpn=h2&sni={{domain}}&type=grpc&serviceName={{hconfigs[ConfigEnum.proxy_path]}}-vlgrpc&mode=multi#vless-grpc_{{domain}}'
                class="btn btn-primary orig-link"> vless+grpc</a>
        </div>
        <div class="btn-group">
            <a href='trojan://{{user.uuid}}@{{direct_host}}:443?security=tls&alpn=h2&sni={{domain}}&type=grpc&serviceName={{hconfigs[ConfigEnum.proxy_path]}}-trgrpc&mode=multi#trojan-grpc_{{domain}}'
                class="btn btn-primary orig-link"> trojan+grpc</a>
        </div>
        % if hconfigs[ConfigEnum.vmess_enable]:
        <div class="btn-group">
            <a href='vmess://{"v":"2", "ps":"CDNvmess_ws_{{domain}}", "add":"{{domain}}", "port":"443", "id":"{{user.uuid}}", "aid":"0", "scy":"auto", "net":"ws", "type":"none", "host":"", "path":"/{{hconfigs[ConfigEnum.proxy_path]}}/vmessws", "tls":"tls", "sni":"{{domain}}"}'
                class="btn btn-primary orig-link"> CDN vmess+ws</a>
        </div>
        % endif



    
      </div>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->
  </div>
  <!-- /.col -->
