
                ابتدا بدون فیلترشکن سرعت را تست کنید. اگر سرعت خوب نبود، به معنی آن است که این ip به
                اصطلاح
                کثیف
                شده
                روی
                سرویس دهنده اینترنت شما.
                <br>
                اگر بدون فیلترشکن سرعت پایین بود دیگر وقت خود را تلف نکنید.
                <br>
                در غیر این صورت با پروکسی های مختلف این سایت تست بگیرید و اگر سرعت آن مشابه سرعت بدون
                فیلترشکن
                بود
                یعنی
                بهترین پروتکل را پیدا کردید.

                <br />
                <div class="btn-group">
                    <a href="/{{hconfigs[ConfigEnum.proxy_path]}}/speedtest/?test=upload" class="btn btn-success">تست
                        آپلود</a>
                    <a href="/{{hconfigs[ConfigEnum.proxy_path]}}/speedtest/?test=download" class="btn btn-secondary">تست
                        دانلود</a>
                    <a href="/{{hconfigs[ConfigEnum.proxy_path]}}/speedtest/?run" class="btn btn-primary">تست کامل</a>
                </div>
            