ابتدا نرم‌افزار کلشClash را با توجه به سیستم عامل خود دانلود و نصب کنید.
<br>

<div class="btn-group">
    <a class="btn btn-primary"
        href="/{{hconfigs[ConfigEnum.proxy_path]}}/gh/Fndroid/clash_for_windows_pkg/releases/download/0.20.9/Clash.for.Windows.Setup.0.20.9.exe"><i
            class="fa-brands fa-windows fa-margin"></i> Windows</a>
    <a class="btn btn-secondary"
        href="/{{hconfigs[ConfigEnum.proxy_path]}}/gh/Fndroid/clash_for_windows_pkg/releases/download/0.20.9/Clash.for.Windows-0.20.9.dmg"><i
            class="fa-brands fa-apple fa-margin"></i> macOS</a>
    <a class="btn btn-success"
        href="/{{hconfigs[ConfigEnum.proxy_path]}}/gh/Fndroid/clash_for_windows_pkg/releases/download/0.20.9/Clash.for.Windows-0.20.9-x64-linux.tar.gz"><i
            class="fa-brands fa-linux fa-margin"></i> Linux</a>

</div>
<br>

حالا با توجه به نیازتان می‌توانید روی یکی از دکمه‌ها کلیک کنید. با مشاهده‌‌ی پنجره در
مرورگرتان کافی است روی گزینه‌ی Open Clash for Windows کلیک کنید تا به صورت خودکار لینک
سرور به کلش اضافه شود.

{% include "fa/clash-links.html" %}
<h2>
    کار با کلش ویندوز، مک و لینوکس
</h2>
چنانچه بر روی دکمه "نصب با یک کلیک" کلیک کرده اید دیگر نیاز به انجام مرحله دوم را ندارید
فقط
مرحله اول کافی است
ابندا یکی از لینک تنظیمات کلش را کپی کنید و در قسمت 1 تصویر دوم گیف قرار دهید و مراحل را
مطابق گیف زیر انجام دهید

<figure class="figure d-block text-center p-3">
    <img src="images/clash_windows.gif" alt="How to use clash for windows and macOS"
        class="figure-img img-fluid rounded" />
    <figcaption class="figure-caption">
        <p>How to use clash for windows and macOS</p>
    </figcaption>
</figure>
