{% set auth = ((uri.user ~ ':' ~ uri.password).strip(':') ~ '@') if uri.user or uri.password else '' %}
{% set raw_host = uri.host or '' %}
{% set host = ('[' ~ raw_host ~ ']') if (':' in raw_host and not raw_host.startswith('[')) else raw_host %}
{% set port_part = (':' ~ uri.port) if uri.port else '' %}
{% set uripath = (uri.path or '').lstrip('/') %}
{% set query = uri.query_params|urlencoded %}
{% set path_part = ('/' ~ uripath) if uripath else ('/' if query else '') %}
{% set query_part = ('?' ~ query) if query else '' %}
{{ uri.protocol }}://{{ auth }}{{ host }}{{ port_part }}{{ path_part }}{{ query_part }}#{{ uri.fragment|urlencoded }}
