{% set sni = ctx.shared_cert.server_name %}
{% set insecure = not ctx.shared_cert.is_trusted %}

{% for ctx in ctx.iter_ctx_domains() %}
  {% set proxy = ctx.proxy %}
  {% set domain = proxy.domain %}
  {% set uri = namespace(
    protocol='hysteria',
    host=proxy.server,
    port=(proxy.udp_port_ranges or [proxy.udp_port or proxy.port]) | join(','),
    query_params=namespace(
      auth=ctx.user.uuid,
      protocol='udp',
      alpn='h3',
      upmbps=ctx.hconfig.hysteria_up_mbps,
      downmbps=ctx.hconfig.hysteria_down_mbps,
    ),
  ) %}
  {% set qp = uri.query_params %}
  {% if sni %}
    {% set qp.sni = sni %}
    {% set qp.peer = sni %}
  {% endif %}
  {% if insecure %}
    {% set qp.insecure = '1' %}
  {% endif %}
  {% if ctx.hconfig.hysteria_obfs_enable %}
    {% set qp.obfs = ctx.hconfig.proxy_path %}
  {% endif %}
  {% set uri.fragment %}{%- include 'sublink/tag' -%}{% endset %}
  {% include 'sublink/uri/final_link_maker' %}
{% endfor %}
