{{_("user.home.tool.all-configs")}}

<div class="col">
<table id="all-links" class="table table-bordered table-striped dt-responsive nowrap" style="width:100%">
  <thead>
    <tr>
      <th>{{_('user.home.allconfig.name')}}</th>
      <th>{{_('user.home.allconfig.type')}}</th>
      <th>{{_('Domain')}}</th>
      <th>{{_('user.home.allconfig.protocol')}}</th>
      <th>{{_('user.home.allconfig.transport')}}</th>
      <th>{{_('user.home.allconfig.security')}}</th>

    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <div class="btn-group">
          <a href="clashmeta://install-config?url=https://{{domain}}/{{hconfigs[ConfigEnum.proxy_path]}}/{{user.uuid}}/clash/meta/all.yml&name=mnormal_{{db_domain.alias or db_domain.domain}}-{{asn}}-{{mode}}&asn={{asn}}&mode={{mode}}"
            class="btn btn-light orig-link"> {{_('user.home.allconfig.hiddify-configs')}}</a>
        </div>
      </td>
      <td><span class="badge badge-danger">{{_('all')}}</span></td>
      <td><span class="badge ">{{_('all')}}</span></td>
      <td><span class="badge badge-info">{{_('all')}}</span></td>
      <td><span class="badge badge-warning">{{_('all')}}</span></td>
      <td><span class="badge badge-success">{{_('all')}}</span></td>
    </tr>
    <tr>
      <td>
        <div class="btn-group">
          <a href="clash://install-config?url=https://{{domain}}/{{hconfigs[ConfigEnum.proxy_path]}}/{{user.uuid}}/clash/all.yml&name=new_normal_{{db_domain.alias or db_domain.domain}}-{{asn}}-{{mode}}&asn={{asn}}&mode={{mode}}"
            class="btn btn-light orig-link"> {{_('user.home.allconfig.clash-configs')}}</a>
        </div>
      </td>
      <td><span class="badge badge-danger">{{_('all')}}</span></td>
      <td><span class="badge ">{{_('all')}}</span></td>
      <td><span class="badge badge-info">{{_('user.home.allconfigs.expect_vless')}}</span></td>
      <td><span class="badge badge-warning">{{_('all')}}</span></td>
      <td><span class="badge badge-success">{{_('all')}}</span></td>
    </tr>
    <tr>
      <td>
        <div class="btn-group">
          <a href="https://{{domain}}/{{hconfigs[ConfigEnum.proxy_path]}}/{{user.uuid}}/all.txt?name={{db_domain.alias or db_domain.domain}}-{{asn}}&asn={{asn}}&mode={{mode}}"
            class="btn btn-light orig-link"> {{_('user.home.allconfig.link-configs')}}</a>
        </div>
      </td>
      <td><span class="badge badge-danger">{{_('all')}}</span></td>
      <td><span class="badge ">{{_('all')}}</span></td>
      <td><span class="badge badge-info">{{_('all')}}</span></td>
      <td><span class="badge badge-warning">{{_('all')}}</span></td>
      <td><span class="badge badge-success">{{_('all')}}</span></td>
    </tr>
    <tr>
      <td>
        <div class="btn-group">
          <a href="https://{{domain}}/{{hconfigs[ConfigEnum.proxy_path]}}/{{user.uuid}}/all.txt?name=new_link_{{db_domain.alias or db_domain.domain}}-{{asn}}-{{mode}}&asn={{asn}}&mode={{mode}}&base64=True"
            class="btn btn-light orig-link"> {{_('user.home.allconfig.link-configs')}} b64</a>
        </div>
      </td>
      <td><span class="badge badge-danger">{{_('all')}}</span></td>
      <td><span class="badge ">{{_('all')}}</span></td>
      <td><span class="badge badge-info">{{_('all')}}</span></td>
      <td><span class="badge badge-warning">{{_('all')}}</span></td>
      <td><span class="badge badge-success">{{_('all')}}</span></td>
    </tr>

%for d in domains
%for t in (['http','tls'] if hconfig(ConfigEnum.http_proxy_enable,d.child_id) else ['tls'])
%for port in hconfig(ConfigEnum.http_ports if t=='http' else ConfigEnum.tls_ports,d.child_id).split(',')
%set phttp=port if t=='http' else None
%set ptls=port if t=='tls' else None
% for type in link_maker.all_proxies(d.child_id)
% set pinfo=link_maker.make_proxy(type,d,phttp=phttp,ptls=ptls)
% if 'msg' not in  pinfo
    <tr>
      <td>
        <div class="btn-group"><a href='{{link_maker.to_link(pinfo)}}'
            class="btn btn-light orig-link">{{pinfo["name"].replace("_", " ")}}</a></div>
      </td>
      <td><span class="badge badge-danger"> {% if d.has_auto_ip  %}Auto {%endif%}{{pinfo["mode"]}}</span></td>
      <td><span class="badge ltr">{{d.domain}}</span></td>
      <td><span class="badge badge-info">{{pinfo["proto"]}}</span></td>
      <td><span class="badge badge-warning">{{pinfo['transport']}}</span></td>
      <td><span class="badge badge-success">{{pinfo['l3']}}</span></td>
    </tr>
    
  %endif
  % endfor
  % endfor
  % endfor
  % endfor
  </tbody>
</table>
</div>