{% macro hiddify_android_dl() -%}
<div class="btn-group">
    <a href="/{{hconfigs[ConfigEnum.proxy_path]}}/gh/hiddify/HiddifyProxyAndroid/releases/download/v0.8/hiddify-2.6.1-h0.8-meta-alpha-universal-release.apk"
        class="btn btn-primary orig-link">{{_('download')}}</a>
</div>
{%- endmacro -%}

{% macro hiddify_android_google_play() -%}
<div class="btn-group">
    <a href="/{{hconfigs[ConfigEnum.proxy_path]}}/gh/hiddify/HiddifyProxyAndroid/releases/download/v0.8/hiddify-2.6.1-h0.8-meta-alpha-universal-release.apk"
        class="btn btn-primary orig-link">{{_('install from google play')}}</a>
</div>
{%- endmacro -%}

{{_('user.home.android.intro',dl_link=hiddify_android_dl(),play_link=hiddify_android_google_play())}}
 


<!--                                         

                        با استفاده از یکی از دو لینک زیر، اپلیکیشن کلش Clash را دانلود و نصب کنید. 
                        
                        <br>
                         -->

                         {% with show_meta=True %}
                         {% include "home/clash-links.html" %}
                         {% endwith %}
<!--
                        ابندا یکی از لینک تنظیمات کلش را کپی کنید و در بخش 2 مرحله 4 قرار دهید و مراحل را مطابق
                        گیف
                        زیر انجام دهید


                         <figure class="figure d-block text-center p-3">
                            <img src="images/clash_android.gif" alt="How to use clash for Android"
                                class="figure-img img-fluid rounded" />
                            <figcaption class="figure-caption">
                                <p>How to use clash for Android</p>
                            </figcaption>
                        </figure> -->