<h2>لینک تنظیمات:</h2>
حالا با توجه به نیازتان روی یکی از دکمه‌ها کلیک کنید:
<div class="card-deck">

    <div class="card card-success">
        <div class="card-header">
            گذرنده فقط برای سایت‌های فیلتر شده
        </div>
        <div class="card-body">

            <div class="btn-group">
                <a href="clashmeta://install-config?url=https://{{domain}}/{{hconfigs[ConfigEnum.proxy_path]}}/{{user.uuid}}/clash/meta/lite.yml&name=mlite_{{domain}}" class="btn btn-success orig-link">نصب فقط برای
                    سایت‌های فیلتر</a>
            </div>
            <details>
                <summary>لینک جایگزین برای کلش عادی</summary>
                <div class="btn-group">
                    <a href="clash://install-config?url=https://{{domain}}/{{hconfigs[ConfigEnum.proxy_path]}}/{{user.uuid}}/clash/lite.yml&name=lite_{{domain}}" class="btn btn-secondary orig-link">لینک برای کلش
                        اندروید</a>
                </div>
            </details>
        </div>
    </div>

    <div class="card card-warning">
        <div class="card-header">
            گذرنده فقط برای سایت‌های خارجی
        </div>
        <div class="card-body">

            اگر فقط قصد دسترسی به سایت‌های خارجی را دارید، از این لینک استفاده کنید.
            <div class="callout callout-warning">
                این حالت برای گذر از برخی از تحریم‌های سایت‌های خارجی مفید است.
            </div>


            <div class="btn-group">
                <a href="clashmeta://install-config?url=https://{{domain}}/{{hconfigs[ConfigEnum.proxy_path]}}/{{user.uuid}}/clash/meta/normal.yml&name=mnormal_{{domain}}" class="btn btn-warning orig-link">نصب گذرنده
                    برای سایت‌های خارجی</a>
            </div>
            <details>
                <summary>لینک جایگزین برای کلش عادی</summary>
                <div class="btn-group">
                    <a href="clash://install-config?url=https://{{domain}}/{{hconfigs[ConfigEnum.proxy_path]}}/{{user.uuid}}/clash/normal.yml&name=normal_{{domain}}" class="btn btn-secondary orig-link">لینک برای کلش
                        اندروید</a>
                </div>
            </details>
        </div>
    </div>

    {% if True or not hconfigs[ConfigEnum.block_iran_sites]: %}

    <div class="card card-danger">
        <div class="card-header">
            گذرنده همه سایت‌ها
        </div>
        <div class="card-body">

            اگر می‌خواهید برای همه سایت‌ها (چه فیلتر شده و چه غیر فیلتر) از پروکسی
            استفاده
            کنید.
            <div class="callout callout-danger">
                در این حالت سرعت سایت‌های داخلی شدیدا کاهش پیدا می‌کند.
            </div>

            <div class="btn-group">
                <a href="clashmeta://install-config?url=https://{{domain}}/{{hconfigs[ConfigEnum.proxy_path]}}/{{user.uuid}}/clash/meta/all.yml&name=mall_{{domain}}" class="btn btn-danger orig-link">نصب گذرنده برای همه
                    سایت‌ها</a>
            </div>
            <details>
                <summary>لینک جایگزین برای کلش عادی</summary>
                <div class="btn-group">
                    <a href="clash://install-config?url=https://{{domain}}/{{hconfigs[ConfigEnum.proxy_path]}}/{{user.uuid}}/clash/all.yml&name=all_{{domain}}" class="btn btn-secondary orig-link">لینک برای کلش
                        اندروید</a>
                </div>
            </details>
        </div>

    </div>
    {% endif %}

</div>