<div class="col">
  <div class="card card-info card-outline">
    <div class="card-header">
      <h3 class="card-title" data-widget="collapse">
        {{_("user.home.ios.stash.title")}}
      </h3>

      <div class="card-tools">
        <button type="button" class="btn btn-tool" data-widget="collapse"><i class="fa fa-plus"></i>
        </button>
      </div>
      <!-- /.card-tools -->
    </div>
    <!-- /.card-header -->
    <div class="card-body">
      {{_("user.home.ios.stash.intro")}}
      <br>
      {% with show_meta=True %}
      {% include "home/clash-links.html" %}
      {% endwith %}
    </div>
    <!-- /.card-body -->
  </div>
  <!-- /.card -->
</div>
<!-- /.col -->


<div class="col">
  <div class="card card-info  card-outline">
    <div class="card-header">
      <h3 class="card-title" data-widget="collapse">
        {{_("user.home.ios.others.title")}}
      </h3>

      <div class="card-tools">
        <button type="button" class="btn btn-tool" data-widget="collapse"><i class="fa fa-plus"></i>
        </button>
      </div>
      <!-- /.card-tools -->
    </div>
    <!-- /.card-header -->
    <div class="card-body">
      {{_("user.home.ios.others.intro")}}
      <br>
      % for type in link_maker.all_proxies()
      {% set pinfo=link_maker.make_proxy(type) %}
      % if pinfo!=None
      <div class="btn-group"><a href='{{link_maker.to_link(pinfo)}}' class="btn btn-light orig-link">{{pinfo['name']}}</a></div>
      % endif
      % endfor




    </div>
    <!-- /.card-body -->
  </div>
  <!-- /.card -->
</div>
<!-- /.col -->