
{{_("user.home.speedtest.intro")}}
<br />
<div class="btn-group">
    <a href="https://speed.cloudflare.com/" target="_blank" rel="noopener" class="btn hbtn bg-h-red">
        {{_("user.home.speedtest.upload")}}</a>
    <a href="https://speed.cloudflare.com/" target="_blank" rel="noopener" class="btn hbtn bg-h-green">
        {{_("user.home.speedtest.download")}}</a>
    <a href="https://speed.cloudflare.com/" target="_blank" rel="noopener" class="btn hbtn bg-h-blue">
        {{_("user.home.speedtest.two_ways")}}</a>
</div>
<br/>
IP: {{ip_debug}}
