{{_("user.home.speedtest.intro")}}
<br />
<div class="btn-group">
    <a href="/{{hconfigs[ConfigEnum.proxy_path]}}/speedtest/?test=upload" class="btn btn-success">
        {{_("user.home.speedtest.upload")}}</a>
    <a href="/{{hconfigs[ConfigEnum.proxy_path]}}/speedtest/?test=download" class="btn btn-secondary">
        {{_("user.home.speedtest.download")}}</a>
    <a href="/{{hconfigs[ConfigEnum.proxy_path]}}/speedtest/?run" class="btn btn-primary">
        {{_("user.home.speedtest.two_ways")}}</a>
</div>