{
  "log": {
    "loglevel": "{{ ctx.hconfig.log_level or 'warning' | lower }}"
  },
  "api": {
    "tag": "api",
 		"listen":"127.0.0.1:10085",
    "services": ["HandlerService", "LoggerService", "StatsService"]
  },
  "dns": {},
  "routing": {% include 'xray/server/base/route' %},
  "policy": {
    "levels": {
      "0": {
        "statsUserUplink": true,
        "statsUserDownlink": true
      }
    },
    "system": {
      "statsInboundUplink": true,
      "statsInboundDownlink": true,
      "statsOutboundUplink": true,
      "statsOutboundDownlink": true
    }
  },
  "inbounds": [
    {% include 'xray/server/base/builtin_inbounds' %},  
    {% block inbounds %}{% endblock %}
  ],
  "outbounds": [
    {% include 'xray/server/base/outbounds' %}
  ],
  "transport": {},
  "stats": {"keep": true},
  "reverse": {}
}
