"protocol": "vless",
"settings": {
  "clients": [
    {% for u in ctx.users %}
    {
      "id": "{{ u.uuid }}",
      "email": "{{ u.uuid }}",
    },
    {% endfor %}
  ],
  "flow": "{{ ctx.hconfig.vless_flow }}",
  "decryption": "{{ctx.hconfig.vless_decryption}}",
  "fallbacks": [
    {
      "alpn": "h2",
      "dest": "@@http_in_h2",
      "xver":2
    },  
    {
      "dest": "@@tcp_in_reality_h1",
      "xver":2
    },
  ]

}
