<!doctype html>
<html lang="en">
    <head>
        {% block head %}
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        {% block styles %}
            <!-- Bootstrap CSS -->
            
            <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
            <link rel="stylesheet" href="static/css/bootstrap.rtl.min.css">
            <link rel="stylesheet" href="static/css/custom.css" type="text/css">
            <link rel="stylesheet" href="static/css/font-awesome.css" type="text/css">
        {% endblock %}

        <title>{% block title %} {% endblock %} | Hiddify</title>
        {% endblock %}
    </head>
    <body dir="rtl">
        <!-- Your page content -->
        {% block content %}{% endblock %}

        {% block scripts %}
            <!-- Optional JavaScript -->
            
            <script src="static/js/jquery-3.6.1.min.js"></script>
            <script src="static/js/popper.min.js"></script>
            <script src="static/js/bootstrap.min.js"></script>
        
        {% endblock %}
    </body>
</html>