<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    {%set base='https://'+domain+'/'+hconfigs[ConfigEnum.proxy_path]+"/"+user.uuid+"/"%}
    <meta name="apple-itunes-app" content="app-id=6450534064, app-argument=streisand://import/{{base}}">

    <link rel="icon" type="image/png" href="{{ static_url_for( filename='new/assets/hiddify-logo-7617d937.png' ) }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hiddify | Panel</title>
    <script type="module" crossorigin src="{{ static_url_for( filename='new/assets/index-91c3f38e.js' ) }}"></script>
    <link rel="stylesheet" href="{{ static_url_for( filename='new/assets/index-576afb2c.css' ) }}">
  </head>
  <body>
    <div id="root"></div>
    
  </body>
</html>
