<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    {%set base='https://'+domain+'/'+hconfigs[ConfigEnum.proxy_path_client]+"/"+user.uuid+"/"%}
    <meta name="apple-itunes-app" content="app-id=6450534064, app-argument=streisand://import/{{base}}">
    
    <link rel="icon" type="image/png" href="../static/new/assets/hiddify-logo-7617d937.png" />
    <link rel="stylesheet" href="node_modules/smartbanner.js/dist/smartbanner.min.css">
    <link href="https://cdn.jsdelivr.net/gh/rastikerdar/vazirmatn@v33.003/Vazirmatn-font-face.css" rel="stylesheet" type="text/css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Hiddify | Panel</title>
    <script type="module" crossorigin src="../static/new/assets/index-c4c80da4.js"></script>
    <link rel="stylesheet" href="../static/new/assets/index-d9bbf489.css">
  </head>
  <body>
    <div id="root"></div>
    
    <script src="node_modules/smartbanner.js/dist/smartbanner.min.js"></script>
    <script>
      window.appVersion = '{{version}}';
      window.deepLink = "hiddify://import/{{base}}"
    </script>
  </body>
</html>
