{% block outbounds %}
  {% for ctx in ctx.iter_ctx_domains() %}
    {% set proxy = ctx.proxy %}
    {% set domain = ctx.proxy.domain %}
      {% set tag |trim_no_line %}{%- include 'client/tag' -%}{% endset %}
      {% set detour = tag ~ "_out §hide§" %}
        {
          "tag": "{{ tag }}",
          {% include '__PROTO_SLUG__' %}
        },
        {
          "tag": "{{ detour }}",
          {% include '__SHADOWTLS_SLUG__' %}
        },
  {% endfor %}
{% endblock %}
