{% block base_config %}
{
  "outbounds": [
    {% block outbounds %}{% endblock %}
    {"tag": "direct", "type": "direct"},
    {"tag": "block", "type": "block"},
    {"tag": "dns-out", "type": "dns"}
  ],
  "endpoints": [
    {% block endpoints %}{% endblock %}
  ],
  "route": {
    "auto_detect_interface": true,
    "override_android_vpn": {%if platform.os == "android" %}true{%else%}false{%endif%},
    "final": "Select",
    "rules": []
  }
}
{% endblock %}