{"tag": "freedom", "protocol": "freedom"},
{"tag": "direct", "protocol": "freedom"},
{"tag": "WARP", "protocol": "freedom", "streamSettings": {"sockopt": {"tcpFastOpen": true, "interface": "warp"}}},
{"tag": "blackhole", "protocol": "blackhole"},
{"tag": "DNS-Internal", "protocol": "dns"}