{% extends 'admin-layout.html' %}



{% block title %}Home | Admin |Hiddify{% endblock %}

{% block body %}
{% macro info_box(icon,title,number,percentage,description,coloring=False) -%}
<div class="col-md-3  col-sm-6">
    <div class="info-box bg-gradient-secondary {{ ("bg-gradient-"+ ("danger" if percentage>90 else ("warning" if percentage>75 else ""))) if coloring else ""}}">
        <span class="info-box-icon"><i class="{{icon}}"></i></span>
        <div class="info-box-content">
            <span class="info-box-text">{{title}}</span>
            <span
                class="info-box-number ltr">{{number}}</span>
            <div class="progress">
                <div class="progress-bar"
                    style="width: {{percentage}}%">
                </div>
            </div>
            <span class="progress-description">
                {{description}}
            </span>
        </div>

    </div>
</div>
{%- endmacro -%}
<div class="card-deck">
    {{info_box("fa-solid fa-chart-pie", _("Total Usage"), 
            ((usage_history['total']['usage']//1024**3)) ~ " GB", 
            usage_history['total']['online']/total_users*100, 
            _("Online") ~": "~ usage_history['total']['online'] ~ " / "~ total_users
    )}}
    {{info_box("fa-solid fa-calendar-days", _("Month Usage"), 
            ((usage_history['last_30_days']['usage']//1024**3)) ~ " GB", 
            usage_history['last_30_days']['online']/total_users*100, 
            _("Online") ~": "~ usage_history['last_30_days']['online'] ~ " / "~ total_users
    )}}
    {{info_box("fa-solid fa-calendar-day", _("Yesterday Usage"), 
            ((usage_history['yesterday']['usage']//1024**3)) ~ " GB", 
            usage_history['yesterday']['online']/total_users*100, 
            _("Online") ~": "~ usage_history['yesterday']['online'] ~ " / "~ total_users
    )}}
    {{info_box("fa-solid fa-calendar", _("Today Usage"), 
            ((usage_history['today']['usage']//1024**3)) ~ " GB", 
            usage_history['today']['online']/total_users*100, 
            _("Online") ~": "~ usage_history['today']['online'] ~ " / "~ total_users
    )}}

    

    {{info_box("fa-solid fa-users", _("Online Users"), onlines ~ " / "~ total_users, onlines/total_users, _('In 24 hours'))}}
    {{info_box("fa-solid fa-microchip", _("CPU"), 
            ((stats['system']['load_avg_1min']*100)|int) ~ " % ", 
            (stats['system']['load_avg_1min']*100)|int, 
            _("Average")~": " ~ ((stats['system']['load_avg_15min']*100)|int) ~" %",
            coloring=True
    )}}
    {{info_box("fa-solid fa-memory", _("RAM"), 
            (stats['system']['ram_used']|round(1)) ~ " / " ~ (stats['system']['ram_total']|round(1)) ~ "GB", 
            stats['system']['ram_used']*100/stats['system']['ram_total'], 
            _("Highest") ~ ": " ~ stats['top5']['memory'][0][0] ~ ": " ~ ((stats['top5']['memory'][0][1]*100/stats['system']['ram_used'])|int) ~ "%",
            coloring=True
    )}}
    {{info_box("fa-solid fa-network-wired", _("Network"), 
            (stats['system']['net_sent_cumulative_GB']|round(1)) ~ "GB", 
            0, 
            _("From Last Restart")
    )}}
    {{info_box("fa-solid fa-signal", _("Connections/IP"), 
            stats['system']['total_unique_ips'] ~ " / " ~ stats['system']['total_connections'], 
            stats['system']['total_unique_ips']*100/stats['system']['total_connections'], 
            _("CDN make it incorrect")
    )}}
    {{info_box("fa-solid fa-hard-drive", _("Disk"), 
        (stats['system']['disk_used']|round(1)) ~ " / "~(stats['system']['disk_total']|round(1))~"GB", 
        stats['system']['disk_used']*100/stats['system']['disk_total'], 
        _("Hiddify") ~ ": " ~ (stats['system']['hiddify_used']|round(1)) ~ "GB",
        coloring=True
    )}}
    
    </div>

</div>

% if hconfig(ConfigEnum.netdata)
<div class="card-deck">
    <div class="card card-danger">
        <div class="card-header d-none">
            <h3 class="card-title">{{_('admin.cpu_chart')}}</h3>
            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                    <i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn btn-tool" data-card-widget="remove">
                    <i class="fas fa-times"></i>
                </button>
            </div>
        </div>
        <div class="card-body">
            <div class="chartjs-size-monitor">
                <div class="chartjs-size-monitor-expand">
                    <div class=""></div>
                </div>
                <div class="chartjs-size-monitor-shrink">
                    <div class=""></div>
                </div>
            </div>
            <div>
                <div data-netdata="system.cpu" data-chart-library="gauge" data-title="{{_('admin.cpu_chart')}}"
                    data-units="%" data-gauge-max-value="100" data-after="-300" data-points="300"
                    data-dt-element-name="time603" data-colors="#dc3545"></div>

            </div>
        </div>

    </div>




    <div class="card card-info">
        <div class="card-header d-none">
            <h3 class="card-title">{{_('admin.ram_chart')}}</h3>
            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                    <i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn btn-tool" data-card-widget="remove">
                    <i class="fas fa-times"></i>
                </button>
            </div>
        </div>
        <div class="card-body">
            <div class="chart">
                <div class="chartjs-size-monitor">
                    <div class="chartjs-size-monitor-expand">
                        <div class=""></div>
                    </div>
                    <div class="chartjs-size-monitor-shrink">
                        <div class=""></div>
                    </div>
                </div>
                <div data-netdata="system.ram" data-dimensions="used|buffers|active|wired"
                    data-append-options="percentage" data-chart-library="gauge" data-title="{{_('admin.ram_chart')}}"
                    data-units="%" data-gauge-max-value="100" data-height="150" data-points="300" data-colors="#17a2b8"
                    role="application">

                </div>
            </div>
        </div>

    </div>

    <div class="card card-info">
        <div class="card-header d-none">
            <h3 class="card-title">{{_('admin.ram_chart')}}</h3>
            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                    <i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn btn-tool" data-card-widget="remove">
                    <i class="fas fa-times"></i>
                </button>
            </div>
        </div>
        <div class="card-body">
            <div class="chart">
                <div class="chartjs-size-monitor">
                    <div class="chartjs-size-monitor-expand">
                        <div class=""></div>
                    </div>
                    <div class="chartjs-size-monitor-shrink">
                        <div class=""></div>
                    </div>
                </div>
                
                <div class="netdata-gauge-chart">
                <canvas id="online_users" class="gaugeChart" style="min-height:150px;width:100%"  ></canvas>
                <span class="gaugeChartLabel" style="font-size: 27px; top: 35px;">{{onlines}}</span>
                <span class="gaugeChartTitle" style="font-size: 1rm; top: 0px;">{{_('Online Users in 24 hours')}}</span>
                <span class="gaugeChartMax" style="font-size: 20px;">{{total_users}}</span>
            </div>
            </div>
        </div>

    </div>
    % if False and not hconfig(ConfigEnum.only_ipv4)
    <div class="card card-info">
        <div class="card-header d-none">
            <h3 class="card-title">{{_('admin.ram_chart')}}</h3>
            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                    <i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn btn-tool" data-card-widget="remove">
                    <i class="fas fa-times"></i>
                </button>
            </div>
        </div>
        <div class="card-body">
            <div class="chart">
                <div class="chartjs-size-monitor">
                    <div class="chartjs-size-monitor-expand">
                        <div class=""></div>
                    </div>
                    <div class="chartjs-size-monitor-shrink">
                        <div class=""></div>
                    </div>
                </div>
                <div data-netdata="ipv4.tcpsock" 
                    data-chart-library="gauge" data-title="{{_('admin.ipv4 connections')}}"
                    data-units="" data-gauge-max-value="1000" data-height="150" data-points="300" data-colors="#ffc107"
                    role="application">

                </div>
            </div>
        </div>

    </div>
    <div class="card card-info">
        <div class="card-header d-none">
            <h3 class="card-title">{{_('admin.ram_chart')}}</h3>
            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                    <i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn btn-tool" data-card-widget="remove">
                    <i class="fas fa-times"></i>
                </button>
            </div>
        </div>
        <div class="card-body">
            <div class="chart">
                <div class="chartjs-size-monitor">
                    <div class="chartjs-size-monitor-expand">
                        <div class=""></div>
                    </div>
                    <div class="chartjs-size-monitor-shrink">
                        <div class=""></div>
                    </div>
                </div>
                <div data-netdata="ipv6.tcpsock" 
                    data-chart-library="gauge" data-title="{{_('admin.ipv6 connections')}}"
                    data-units="" data-gauge-max-value="1000" data-height="150" data-points="300" data-colors="#ffc107"
                    role="application">

                </div>
            </div>
        </div>

    </div>
    % endif
    <!-- 
    <div class="card card-success">
        <div class="card-header">
            <h3 class="card-title">{{_('admin.network_chart')}}</h3>
            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                    <i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn btn-tool" data-card-widget="remove">
                    <i class="fas fa-times"></i>
                </button>
            </div>
        </div>
        <div class="card-body">
            <div class="chart">
                <div class="chartjs-size-monitor">
                    <div class="chartjs-size-monitor-expand">
                        <div class=""></div>
                    </div>
                    <div class="chartjs-size-monitor-shrink">
                        <div class=""></div>
                    </div>
                </div>
                
        
            </div>
        </div>
    </div>
</div> -->
</div>

<div class="card-deck" style="margin-top: 15px;">

    <div class="card card">
        <div class="card-header d-none">
            <!-- <h3 class="card-title">{{_('admin.protocol_chart')}}</h3> -->
            <h3 class="card-title">{{_('admin.network_chart')}}</h3>
            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                    <i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn btn-tool" data-card-widget="remove">
                    <i class="fas fa-times"></i>
                </button>
            </div>
        </div>
        <div class="card-body">
            <p>{{_('admin.network_chart')}}</p>
            <div class="chart">
                <div class="chartjs-size-monitor">
                    <div class="chartjs-size-monitor-expand">
                        <div class=""></div>
                    </div>
                    <div class="chartjs-size-monitor-shrink">
                        <div class=""></div>
                    </div>
                </div>
                <div data-netdata="system.net" data-chart-library="google" data-height="250"
                    data-legend-position="bellow" data-title="" legend-position="bellow" data-after="-300"
                    data-dt-element-name="time206"></div>

            </div>
        </div>

    </div>


    <div class="card card">
        <div class="card-header d-none">
            <!-- <h3 class="card-title">{{_('admin.user_chart')}}</h3> -->
            <h3 class="card-title">{{_('admin.cpu_chart')}}</h3>
            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                    <i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn btn-tool" data-card-widget="remove">
                    <i class="fas fa-times"></i>
                </button>
            </div>
        </div>
        <div class="card-body">
            <p>{{_('admin.cpu_chart')}}</p>
            <div class="chartjs-size-monitor">
                <div class="chartjs-size-monitor-expand">
                    <div class=""></div>
                </div>
                <div class="chartjs-size-monitor-shrink">
                    <div class=""></div>
                </div>
            </div>
            <!-- <canvas id="donutChart"
                    style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%; display: block; width: 352px;"
                    width="591" height="419" class="chartjs-render-monitor"></canvas> -->
            <div data-netdata="apps.cpu" data-chart-library="google" data-height="250" data-after="-300"
                data-dt-element-name="time207" data-legend-position="bottom" data-title="" data-units="%"
                data-legend="no" legend="bottom"></div>
        </div>

    </div>
</div>
%else
<div class="alert alert-info">
    {{_("You have disabled netdata in the setting. You need to enable it to see the information.")}}
</div>
% endif

{% endblock %}

{% block tail_js%}
{{super()}}
<script>var netdataNoBootstrap = true;</script>


<script type="text/javascript" src="netdata/dashboard.js"></script>
<script src="https://bernii.github.io/gauge.js/dist/gauge.min.js"></script>
<script>
    var gauge = new Gauge($("#online_users")[0]); // create sexy gauge!
gauge.maxValue = {{total_users}}; // set max gauge value
gauge.setMinValue(0);  // Prefer setter over gauge.minValue = 0
gauge.animationSpeed = 32; // set animation speed (32 is default value)
gauge.set({{onlines}}); // 
</script>
{% endblock %}