{% set proxy_tags = ctx.client_proxy_tags or client_proxy_tags %}
{% if proxy_tags %}
{
  "type": "selector",
  "tag": "Select",
  "outbounds": [
    "Auto",
    {% for tag in proxy_tags %}
    "{{ tag }}",
    {% endfor %}
  ],
  "default": "Auto"
},
{
  "type": "urltest",
  "tag": "Auto",
  "outbounds": [
    {% for tag in proxy_tags %}
    "{{ tag }}",
    {% endfor %}
  ],
  "url": "https://www.gstatic.com/generate_204",
  "interval": "10m",
  "tolerance": 200
},
{% endif %}
