{% set qp.type = 'tcp' %}
{% set qp.path = '/' ~ proxy.path %}
{% set qp.host = ctx.proxy.domain.host %}
{% set qp.headerType = 'http' %}
{# Label the link's name (the #fragment), not the query: `fragment` there means TLS fragment. #}
{% set uri.fragment = uri.fragment ~ " insecure" %}
