{% block base_config %}
{
  "remarks": "{{ remarks }}",
  "log": {
    "access": "",
    "error": "",
    "loglevel": "warning"
  },
  "inbounds": [
    {
      "tag": "socks",
      "port": 10808,
      "listen": "127.0.0.1",
      "protocol": "socks",
      "sniffing": {"enabled": true, "destOverride": ["http", "tls"]},
      "settings": {"auth": "noauth", "udp": true}
    },
    {
      "tag": "http",
      "port": 10809,
      "listen": "127.0.0.1",
      "protocol": "http",
      "sniffing": {"enabled": true, "destOverride": ["http", "tls"]},
      "settings": {"auth": "noauth", "udp": true}
    }
  ],
  "outbounds": [
    {% include 'xray/client/subscription_status' %}
    {% if user.is_active %}
    {% block outbounds %}{% endblock %}
    {% endif %}
    {"tag": "direct", "protocol": "freedom", "settings": {}},
    {"tag": "block", "protocol": "blackhole", "settings": {"response": {"type": "http"}}}
  ],
  "routing": {
    "domainStrategy": "AsIs",
    "rules": []
  }
}
{% endblock %}
