#skip-to-content a{padding:6px;position:absolute;top:-200px;left:0px;color:white;border-right:1px solid white;border-bottom:1px solid white;border-bottom-right-radius:8px;background:#BF1722;-webkit-transition:top 1s ease-out;transition:top 1s ease-out;z-index:100}#skip-to-content a:focus{position:absolute;left:0px;top:0px;outline-color:transparent;-webkit-transition:top .1s ease-in;transition:top .1s ease-in}




.small-box{
    display: flex;
}
body{
text-align:justify;
}
.nav-treeview{
margin-left: 20px;
}

legend label{
    margin-bottom: 0px;
}
legend {
    background-color: white;
  margin: 0px;
  border: 1px solid #ccc;
  padding: 5px;
  text-align: center;
  border-radius: 10px;
  background: #f6f6f6;
    padding-bottom: 0px; 

  }

  fieldset fieldset legend {
    font-size: 13px !important;
    font-weight: 400 !important;
    letter-spacing: 0px;
    text-shadow: 0 1px 1px rgba(0,0,0,.15);
    color: #555 !important;
    /* padding-top: 10px; */
  }

  .modal{
    /* z-index: 4999; */
  }
  .daterangepicker {
    z-index: 5000;
  }

  .main-sidebar{
    font-size: 0.9em;
  }
  .modal.modal-display-on-load{
    display: block;
  }
  .toasts-top-left,.toasts-top-right{
    top:50px
  }

  .toast{
    max-width: 550px;
  }

  .wrapper{
    display: none;   
  }

  #splash_screen {
    display: flex; /* Displays the element as a flex container */
    justify-content: center; /* Centers child elements horizontally */
    align-items: center; /* Centers child elements vertically */
    height: 100vh; /* Sets the height of the element to 100% of the viewport height */
    margin: 0; /* Removes margin */
  }
  
  #splash_screen img {
    max-height: 30%; /* Sets the maximum height of the image to 30% of the container */
    max-width: 30%; /* Sets the maximum width of the image to 30% of the container */
    display: block; /* Makes the element a block-level element */
    margin: 0 auto; /* Centers the element horizontally */
  }
  @media only screen and (max-width: 600px) {
    /* Set bigger image for screens with width up to 600px (i.e. mobile devices) */
    #splash_screen img {
      max-width: 60%;
      max-height: 60%;
    }
  }

  .toast-full{
    max-width: 100vw!important;
    min-width: 99vw!important;
  }



  /*new design*/

  .sidebar-mini.sidebar-collapse .main-sidebar {
    width: 80px;
  }


  .content-wrapper, .main-header.navbar-expand, .main-footer{
    margin-left: 100px!important;
}
.sidebar-collapse .content-wrapper, .sidebar-collapse .main-header.navbar-expand, .sidebar-collapse .main-footer{
    margin-left:0px !important;
}

.sub-sidebar {
    display: none;
  opacity: 0;

 transform: translateX(-20px);
  transition: all 0.3s ease-in-out;
  }
#main-sidebar{
    width: 100px;
}

#main-sidebar .nav-sidebar>.nav-item>.nav-link {
    width: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px 5px;
  }
  .nav-item{
    list-style-type: none;
  }
  
.sub-sidebar .nav-item .nav-link:hover {
  background-color: #044a91 !important;
  color: #fff !important;
}
.sub-sidebar .nav-item .nav-link {
  
  color: #fff !important;
}

#main-sidebar .nav-sidebar>.nav-item>.nav-link .nav-icon {
    margin-bottom: 5px;
  }
.sub-sidebar {
  margin-left: 80px!important;
}
.main-header.navbar-expand{
  margin-left: 100px!important;
}
.sidebar {

  display: flex;
  flex-direction: column;
  justify-content: center;
  height: calc(100vh - 30px); /* Subtract the height of the brand logo */
  
  /* padding-bottom: 30px; Half the height of the brand logo */
}

[class*="sidebar-dark-"] {
  background-image: linear-gradient(195deg,#135085,#0b2642);
  /* background-color: #0b2642; */
}
.sub-sidebar {
  background-image: linear-gradient(195deg,#185f9d,#135085)!important;
 
}